html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 500px;
    margin: 0 auto;
    padding: 2px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: rgb(253, 253, 253);
}